%header
  = render 'shared/header'

%nav.bread
  %ul.bread__list
    - breadcrumb :category
    = render "layouts/breadcrumbs"

%body
  .categoriesList
    -# 中カテゴリーのテーブルがないため直打ち
    = link_to "バッグ", '#', class: "middleCategoryLink"
    = link_to "アクセサリー", '#', class: "middleCategoryLink"
    = link_to "ワンピース", '#', class: "middleCategoryLink"
  .categoryTitle
    #{@category.name}の商品一覧
  .itemsAllInCategory
    - @items.each do |item|
      = link_to item_path(item) do
        .itemBox
          = image_tag item.images.first.image.to_s, height: '188px', width: '188px', class: 'box'
          .itemBoxDescription
            %p.name
              =item.name
            .itemBoxDescription__bottom
              %p.price
                ¥#{item.price}
              .like
                = icon('fas', 'heart')
                %p 10
  = paginate(@items)
  .categoryDescription
    .categoryDescription__title
      #{@category.name}
    .categoryDescription__text
      #{@category.name}の着ない服、いらない洋服を売るならメルカリへ。#{@category.name}の商品は100万点以上あります。#{@category.name}の買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。

%footer
  = render 'shared/footer'
= render 'shared/exhibition-btn'