%header
  = render 'shared/header'

%nav.bread
  %ul.bread__list
    - breadcrumb :logout
    = render "layouts/breadcrumbs"

.logoutMain
  = render 'shared/side_bar'
  .mainContainer
    .logoutButton
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "submitbtn"

%footer
  = render 'shared/footer'
= render 'shared/exhibition-btn'