%header
  = render 'shared/header'

.logoutMain
  = render 'shared/side_bar'
  .mainContainer
    .logoutButton
      = link_to "ログアウト", "#", class: "submitbtn"

%footer
  = render 'shared/footer'
= render 'shared/exhibition-btn'