.registration5body
  .registration5header
    .progress-bar
      =link_to(root_path, class:'image') do
        = image_tag "fmarket_logo_red.svg", size: "185x49", class: "logo" 
      %nav.progress-bar
      %ol.clearfix
        %li1--gray
          会員情報
          .maru1red
        %li2--gray
          電話番号認証
          .maru2red
        %li3--gray
          お届け先住所入力
          .maru3red
        %li4--red
          支払い方法
          .maru4red
        %li5--gray
          完了
          .maru5gray
        .grayline4
        .redline4


  .paymentmain
    .paymentHeader
      支払い方法
    .paymentForm
      - hissuTag = "必須"
      = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
        .formCardNumber
          %label.titleBold カード番号
          %span.hissuTag #{hissuTag}
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number", class: "cardNumber formareaBig"
          = image_tag 'cardimages.png', class: 'cardImages'
        .formExpirationDate.topmargin
          %label.titleBold 有効期限
          %span.hissuTag #{hissuTag}
          .flex
            %select.select-default#exp_month{name: "exp_month", class: "month formareaMiddle", type: "text"}
              %option{value: "01"} 01
              %option{value: "02"} 02
              %option{value: "03"} 03
              %option{value: "04"} 04
              %option{value: "05"} 05
              %option{value: "06"} 06
              %option{value: "07"} 07
              %option{value: "08"} 08
              %option{value: "09"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            %p.date 月
            %select.select-default#exp_year{name: "exp_year", class: "year formareaMiddle", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            %p.date 年
        .formSecurityCode.topmargin
          %label.titleBold セキュリティコード
          %span.hissuTag #{hissuTag}
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc", class: "securityNumber formareaBig"
          = link_to '#', class: 'link questionLink' do
            = icon('fas', 'question-circle', class: 'question')
            カード裏面の番号とは？
          #card_token
          = submit_tag "次へ進む", id: "submit", class: "submitbtn"

  .footer
    = render 'shared/simple_footer'