.newUserbody
  .newUserheader
    =link_to("/", class:'image') do
      = image_tag "fmarket_logo_red.svg", size: "185x49", class: "logo"

  .newUsermain
    .newUsermain__title
      新規会員登録
    .newUsermain__contents
      =link_to step2_user_form_registrations_path, class:'newUsermain__contents__mail' do
        = icon('far', 'envelope', class: 'mail')
        %p1 メールアドレスで登録する
      =link_to('#', class:'newUsermain__contents__facebook') do
        = icon('fab', 'facebook-square', class: 'facebook')
        %p2 Facebookで登録する
      =link_to('#', class:'newUsermain__contents__google') do
        = icon('fab', 'google', class: 'google')
        %p3 Googleで登録する

  .footer
    = render 'shared/simple_footer'









