.registration3body
  .registration3header
    .progress-bar
      =link_to(root_path, class:'image') do
        = image_tag "fmarket_logo_red.svg", size: "185x49", class: "logo" 
      %nav.progress-bar
      %ol.clearfix
        %li1--gray
          会員情報
          .maru1red
        %li2--red
          電話番号認証
          .maru2red
        %li3--gray
          お届け先住所入力
          .maru3gray
        %li4--gray
          支払い方法
          .maru4gray
        %li5--gray
          完了
          .maru5gray
        .grayline2
        .redline2

  .registration3main
    .certificatePhoneNumber
      電話番号認証
    .certificationForm
      = form_for @user, url: step5_address_form_registrations_path do |f|
      
        .formPhoneNumber
          = f.fields_for :address do |a|
            %p.titleBold 認証番号
            = a.text_field :phone_number, placeholder: "認証番号を入力", class: "certificationNumber formareaBig"
          %p.small SMSで届いた認証番号を入力してください
          = f.submit "認証して完了", class: "submitbtn"
    .certificateWithPhonecall
      %p.titleBold 30秒たっても認証番号が届かない方へ
      %p.small 電話で認証番号を聞くこともできます。
      = link_to "電話で認証番号を聞く（通話無料）", "#", class: "submitbtn"
    .resendCertificationNumber
      %p.titleBold 認証番号を再送することもできます。もう一度電話番号を入力して下さい。
      = link_to "電話番号を再度入力する", "#", class: "rewriteNumber link"
      .sms.small 
        ※SMSが届かない場合は
        = link_to "SMS受信設定", "#", class: "sms link"
        を確認して、もう一度電話番号を入力してください。

  .footer
    = render 'shared/simple_footer'