%header
  = render 'shared/header'

.cardRegisteredMain
  = render 'shared/side_bar'
  .mainContainer
    .cardRegisteredTitle
      支払い方法
    .cardRegisteredInfo
      %p クレジットカード一覧
      .cardLink
        = link_to "#", class: 'link addCreditCard' do
          = icon('far', 'credit-card', class: 'credit')
          クレジットカードを追加する
    .linkAboutPay
      = link_to "支払い方法について >", "#", class: "aboutPay"

%footer
  = render 'shared/footer'
= render 'shared/exhibition-btn'