%header
  .topheader
    .main
      .main__top
        %a(href="#")
          = image_tag 'toppage/fmarket_logo_red.svg', height: '120px', width: '165px', class: 'free-logo'
        %label
          .main__top--search
            %input.card-nomber-form{placeholder:"何かお探しですか？"}
            .icon
              %a(href="#")
                %i.fa.fa-search
      .main__bottom
        %ul 
          %li.num1
            = link_to do
              = icon('fas', 'bars')
              カテゴリーから探す
          %li.num2 
            = link_to do
              = icon('fas', 'tag')
              ブランドから探す
          %li.num3 
            = link_to do
              = icon('far', 'heart')
              いいね！ 一覧
          %li.num4 
            = link_to do
              = icon('far', 'bell')
              お知らせ
          %li.num5 
            = link_to do
              = icon('fas', 'check')
              やることリスト
          %li.num6 
            = link_to do
              = icon('far', 'circle')
              マイページ    
%nav.bread
  %ul.bread__list
.editProfileMain
  = render 'shared/side_bar'
  .l-content
    %section.l-content__mypage-user-icon
      = link_to "profile" do
        %figure
          = image_tag "my_page/サラリーマン.svg"
        %h2.bold ユーザー
        .mypage-number
          .mypage-number__evaluation
            評価 0
          .mypage-number__items
            出品数 0
            
    %section.l-content__mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active 
          %h3
            お知らせ
        %li
          %h3
            やることリスト

      %ul.tabs-content
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
    .tabs-content-notification__see 
      .tabs-content-notification__see_buttom
        一覧を見る

    %section.l-content__purchase-box
      .purchase-tab-head
        購入した商品
      %ul.purchase-tabs
        %li.present
          %h3
            取引中
        %li
          %h3
            過去の取引
      .box-content
        .box-content-block
          .transaction
            %figure
              = image_tag "my_page/logo_gray.svg"
            取引中の商品がありません
%footer
  .images
    = image_tag 'toppage/free-image-1.jpg', height: '260px', width: '100%', class: 'bottom-photo'
  .about
    .about__box
      .about__box--text    
        メルカリについて
        .about__box--textIn
          %nav.my-parts
            %ul.ber
              %li
                %a{href: "#"} 会社概要（運営会社）
              %li
                %a{href: "#"} 採用情報
              %li
                %a{href: "#"} プレスリリース
              %li
                %a{href: "#"} 公式ブログ
              %li
                %a{href: "#"} メルカリロゴ利用ガイドライン
          .footer_logo
            = link_to "https://twitter.com/mercari_jp", class: "twi-icon" do
              = icon('fab', 'twitter')
          .footer_logo1
            = link_to "https://www.facebook.com/mercarijp", class: "face-icon" do
              = icon('fab', 'facebook-square')

      .about__box--text1   
        ヘルプ＆ガイド
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} メルカリガイド
              %li
                %a{href: "#"} らくらくメルカリ便
              %li
                %a{href: "#"} ゆうゆうメルカリ便
              %li
                %a{href: "#"} 大型メルカリ便
              %li
                %a{href: "#"} 車体取引ガイド
              %li
                %a{href: "#"} メルカリあんしん・あんぜん宣言！
              %li
                %a{href: "#"} 偽ブランド品撲滅への取り組み
              %li
                %a{href: "#"} メルカリボックス
      .about__box--text2
        プライバシーと利用規約
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} プライバシーポリシー
              %li
                %a{href: "#"} メルカリ利用規約
              %li
                %a{href: "#"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{href: "#"} コンプライアンスポリシー
      .about__box--text5
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 個人データの安全管理に係る基本方針
              %li
                %a{href: "#"} 特定商取引に関する表記
              %li
                %a{href: "#"} 資金決済法に基づく表示
              %li
                %a{href: "#"} 法令順守と犯罪抑止のために            
      .about__box--text3
        国
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 日本
              %li
                %a{href: "#"} United States

    .about__bottom
      .about__bottom--logo
        %a(href="#")
          = image_tag 'toppage/fmarket_logo_white.svg', height: '110px', width: '140px', class: 'logologo'
      .about__bottom--name
        %p.name
          @Fmarket