%header
  = render 'shared/header'

%nav.bread
  %ul.bread__list
    - breadcrumb :mypage
    = render "layouts/breadcrumbs"
    
.editProfileMain
  = render 'shared/side_bar'
  .l-content
    %section.l-content__mypage-user-icon
      = link_to "profile" do
        %figure
          = image_tag "my_page/サラリーマン.svg"
        %h2.bold ユーザー
        .mypage-number
          .mypage-number__evaluation
            評価 0
          .mypage-number__items
            出品数 0
            
    %section.l-content__mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active 
          %h3
            お知らせ
        %li
          %h3
            やることリスト

      %ul.tabs-content
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
        %li.tabs-content-notification
          %figure.logo_red
            = image_tag "my_page/logo_red.svg"
          .tabs-content-notification__body
            ログイン通知るるるるるるるる
          %time.time_field
            %i.far.fa-clock
          %i.fa.fa-chevron-right
    .tabs-content-notification__see 
      .tabs-content-notification__see_buttom
        一覧を見る

    %section.l-content__purchase-box
      .purchase-tab-head
        購入した商品
      %ul.purchase-tabs
        %li.present
          %h3
            取引中
        %li
          %h3
            過去の取引
      .box-content
        .box-content-block
          .transaction
            %figure
              = image_tag "my_page/logo_gray.svg"
            取引中の商品がありません

%footer
  = render 'shared/footer'
= render 'shared/exhibition-btn'