-# item
%html
  %header
    .header
      .main
        .main__top
          %a(href="#")
            = image_tag 'toppage/fmarket_logo_red.svg', height: '120px', width: '165px', class: 'free-logo'
          .main__top--search
            %input.card-nomber-form{placeholder:"何かお探しですか？"}
            .icon
              %a(href="#")
                %i.fa.fa-search
        .main__bottom
          %ul 
            %li.num1
              %link(href="#")/
              = icon('fas', 'bars')
              カテゴリーから探す
            %li.num2 
              = link_to do
                = icon('fas', 'tag')
                ブランドから探す
            %li.num3 
              = link_to do
                = icon('far', 'heart')
                いいね！ 一覧
            %li.num4 
              = link_to do
                = icon('far', 'bell')
                お知らせ
            %li.num5 
              = link_to do
                = icon('fas', 'check')
                やることリスト
            %li.num6 
              = link_to do
                = icon('far', 'circle')
                マイページ    
-# item1
%body
  .images
    = image_tag 'toppage/free.image-1.jpg', height: '390px', width: '100%', class: 'top-photo'
    -# %img(src="スクリーンショット 2019-12-19 19.03.35.png" class="top-photo")/
  .bar
    %div 人気のカテゴリー
    .bar__btn
      %a(href="#" class="btn-gradient-radius")レディース
      %a(href="#" class="btn-gradient-radius")メンズ
      %a(href="#" class="btn-gradient-radius")家電・スマホ・カメラ
      %a(href="#" class="btn-gradient-radius")おもちゃ・ホビー・グッズ

      -# レディースカテゴリー
  .woman-category
    .woman-category__woman
      レディース新着アイテム
      = icon('fas', 'angle-right')
      %a(href="#") もっと見る
      -# 上の段の写真
    %a(href="#" class="woman-photos")
      .woman-photos__photo1
      .woman-photos__photo2
      .woman-photos__photo3
      .woman-photos__photo4
      .woman-photos__photo5
        -# 下の段の写真
    %a(href="#" class="woman-photos1")
      .woman-photos1__photo1
      .woman-photos1__photo2
      .woman-photos1__photo3
      .woman-photos1__photo4
      .woman-photos1__photo5

        -#  メンズカテゴリー
    .men-category
      .men-category__men
        メンズ新着アイテム
        = icon('fas', 'angle-right')
        %a(href="#") もっと見る
        -# 上の段の写真
      %a(href="#" class="men-photos")
        .men-photos__photo1
        .men-photos__photo2
        .men-photos__photo3
        .men-photos__photo4
        .men-photos__photo5
          -# 下の段の写真
      %a(href="#" class="men-photos1")
        .men-photos1__photo1
        .men-photos1__photo2
        .men-photos1__photo3
        .men-photos1__photo4
        .men-photos1__photo5

          -#  カメラカテゴリー
      .camera-category
        .camera-category__camera
          家電・スマホ・カメラ新着アイテム
          = icon('fas', 'angle-right')
          %a(href="#") もっと見る
          -# 上の段の写真
        %a(href="#" class="camera-photos")
          .camera-photos__photo1
          .camera-photos__photo2
          .camera-photos__photo3
          .camera-photos__photo4
          .camera-photos__photo5
            -# 下の段の写真
        %a(href="#" class="camera-photos1")
          .camera-photos1__photo1
          .camera-photos1__photo2
          .camera-photos1__photo3
          .camera-photos1__photo4
          .camera-photos1__photo5

          -#  おもちゃカテゴリー
        .toy-category
          .toy-category__toy
            おもちゃ・ホビー・グッズ新着アイテム
            = icon('fas', 'angle-right')
            %a(href="#") もっと見る
            -# 上の段の写真
          %a(href="#" class="toy-photos")
            .toy-photos__photo1
            .toy-photos__photo2
            .toy-photos__photo3
            .toy-photos__photo4
            .toy-photos__photo5
              -# 下の段の写真
          %a(href="#" class="toy-photos1")
            .toy-photos1__photo1
            .toy-photos1__photo2
            .toy-photos1__photo3
            .toy-photos1__photo4
            .toy-photos1__photo5

    -# item2
  .bar
    %div 人気のブランド
    .bar__btn
      %a(href="#" class="btn-gradient-radius")シャネル
      %a(href="#" class="btn-gradient-radius")ルイヴィトン
      %a(href="#" class="btn-gradient-radius")シュプリーム
      %a(href="#" class="btn-gradient-radius")ナイキ

  .chanel-category
    .chanel-category__chanel
      シャネル新着アイテム
      = icon('fas', 'angle-right')
      %a(href="#") もっと見る
      -# 上の段の写真
    %a(href="#" class="chanel-photos")
      .chanel-photos__photo1
      .chanel-photos__photo2
      .chanel-photos__photo3
      .chanel-photos__photo4
      .chanel-photos__photo5
        -# 下の段の写真
    %a(href="#" class="chanel-photos1")
      .chanel-photos1__photo1
      .chanel-photos1__photo2
      .chanel-photos1__photo3
      .chanel-photos1__photo4
      .chanel-photos1__photo5

      -#  ビトンカテゴリー
    .vuitton-category
      .vuitton-category__vuitton
        ルイヴィトン新着アイテム
        = icon('fas', 'angle-right')
        %a(href="#") もっと見る
        -# 上の段の写真
      %a(href="#" class="vuitton-photos")
        .vuitton-photos__photo1
        .vuitton-photos__photo2
        .vuitton-photos__photo3
        .vuitton-photos__photo4
        .vuitton-photos__photo5
          -# 下の段の写真
      %a(href="#" class="vuitton-photos1")
        .vuitton-photos1__photo1
        .vuitton-photos1__photo2
        .vuitton-photos1__photo3
        .vuitton-photos1__photo4
        .vuitton-photos1__photo5

      -#  シュプリームカテゴリー
    .supreme-category
      .supreme-category__supreme
        シュプリーム新着アイテム
        = icon('fas', 'angle-right')
        %a(href="#") もっと見る
        -# 上の段の写真
      %a(href="#" class="supreme-photos")
        .supreme-photos__photo1
        .supreme-photos__photo2
        .supreme-photos__photo3
        .supreme-photos__photo4
        .supreme-photos__photo5
          -# 下の段の写真
      %a(href="#" class="supreme-photos1")
        .supreme-photos1__photo1
        .supreme-photos1__photo2
        .supreme-photos1__photo3
        .supreme-photos1__photo4
        .supreme-photos1__photo5

      -#  ナイキカテゴリー
    .niki-category
      .niki-category__niki
        ナイキ新着アイテム
        = icon('fas', 'angle-right')
        %a(href="#") もっと見る
        -# 上の段の写真
      %a(href="#" class="niki-photos")
        .niki-photos__photo1
        .niki-photos__photo2
        .niki-photos__photo3
        .niki-photos__photo4
        .niki-photos__photo5
          -# 下の段の写真
      %a(href="#" class="niki-photos1")
        .niki-photos1__photo1
        .niki-photos1__photo2
        .niki-photos1__photo3
        .niki-photos1__photo4
        .niki-photos1__photo5


    -#  item3
%footer
  .images
    = image_tag 'toppage/free-image-1.jpg', height: '260px', width: '100%', class: 'bottom-photo'
  .about
    .about__box
      .about__box--text
        メルカリについて
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{:href => "#"} 会社概要（運営会社）
              %li
                %a{:href => "#"} 採用情報
              %li
                %a{:href => "#"} プレスリリース
              %li
                %a{:href => "#"} 公式ブログ
              %li
                %a{:href => "#"} メルカリロゴ利用ガイドライン
          .footer_logo
            = link_to "https://twitter.com/mercari_jp", class: "twi-icon" do
              = icon('fab', 'twitter')
          .footer_logo1
            = link_to "https://www.facebook.com/mercarijp", class: "face-icon" do
              = icon('fab', 'facebook-square')

      .about__box--text1
        ヘルプ＆ガイド
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{:href => "#"} メルカリガイド
              %li
                %a{:href => "#"} らくらくメルカリ便
              %li
                %a{:href => "#"} ゆうゆうメルカリ便
              %li
                %a{:href => "#"} 大型メルカリ便
              %li
                %a{:href => "#"} 車体取引ガイド
              %li
                %a{:href => "#"} メルカリあんしん・あんぜん宣言！
              %li
                %a{:href => "#"} 偽ブランド品撲滅への取り組み
              %li
                %a{:href => "#"} メルカリボックス


      .about__box--text2
        プライバシーと利用規約
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{:href => "#"} プライバシーポリシー
              %li
                %a{:href => "#"} メルカリ利用規約
              %li
                %a{:href => "#"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{:href => "#"} コンプライアンスポリシー
      .about__box--text5
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{:href => "#"} 個人データの安全管理に係る基本方針
              %li
                %a{:href => "#"} 特定商取引に関する表記
              %li
                %a{:href => "#"} 資金決済法に基づく表示
              %li
                %a{:href => "#"} 法令順守と犯罪抑止のために            
      .about__box--text3
        国
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{:href => "#"} 日本
              %li
                %a{:href => "#"} United States

    .about__bottom
      .about__bottom--logo
        %a(href="#")
          = image_tag 'toppage/fmarket_logo_white.svg', height: '110px', width: '140px', class: 'logologo'
      .about__bottom--name
        %p.name
          @Fmarket
        
= link_to "#", class: "logo-btn" do      
  .exhibition-btn
    .fixed_btn
      %span.btn-name
      出品
      %p.camera-icon
        = icon('fas', 'camera')