%header
  .topheader
    .main
      .main__top
        = link_to do
          = image_tag 'toppage/fmarket_logo_red.svg', height: '120px', width: '165px', class: 'free-logo'
        %label
          .main__top--search
            %input.card-nomber-form{placeholder:"何かお探しですか？"}
            .icon
              = link_to do
                %i.fa.fa-search

      -#  開発やりやすくする為、仮のフッター
      .main__bottom
        %ul 
          %li.num1
            = link_to do
              = icon('fas', 'bars')
              カテゴリーから探す
          %li.num2 
            = link_to do
              = icon('fas', 'tag')
              ブランドから探す
          %li.num3 
            = link_to do
              = icon('far', 'heart')
              いいね！ 一覧
          %li.num4 
            = link_to do
              = icon('far', 'bell')
              お知らせ
          %li.num5 
            = link_to do
              = icon('fas', 'check')
              やることリスト
          %li.num6 
            = link_to do
              = icon('far', 'circle')
              マイページ 

              -# 本来はこっち
      -# - if user_signed_in?
      -#   .main__bottom
      -#     %ul 
      -#       %li.num1
      -#         = link_to do
      -#           = icon('fas', 'bars')
      -#           カテゴリーから探す
      -#       %li.num2 
      -#         = link_to do
      -#           = icon('fas', 'tag')
      -#       %li.num3 
      -#         = link_to do
      -#           = icon('far', 'heart')
      -#           いいね！ 一覧
      -#       %li.num4 
      -#         = link_to do
      -#           = icon('far', 'bell')
      -#           お知らせ
      -#       %li.num5 
      -#         = link_to do
      -#           = icon('fas', 'check')
      -#           やることリスト
      -#       %li.num6 
      -#         = link_to do
      -#           = icon('far', 'circle')
      -#           マイページ 
      -# - else 
      -#   .main__bottom
      -#     %ul 
      -#       %li.num1
      -#         = link_to do
      -#           = icon('fas', 'bars')
      -#           カテゴリーから探す
      -#       %li.num2 
      -#         = link_to do
      -#           = icon('fas', 'tag')
      -#           ブランドから探す
      -#       %li.num7 
      -#         = link_to do
      -#           %button.button8{:type => "submit"} 新規会員登録
      -#       %li.num8
      -#         = link_to do
      -#           %button.button9{:type => "submit"} ログイン 


%body
  .images
    = image_tag 'toppage/free.image-1.jpg', height: '390px', width: '100%', class: 'top-photo'
    -# %img(src="スクリーンショット 2019-12-19 19.03.35.png" class="top-photo")/
  .bar
    %div 人気のカテゴリー
    .bar__btn
      %a(href="#" class="btn-gradient-radius")レディース
      %a(href="#" class="btn-gradient-radius")メンズ
      %a(href="#" class="btn-gradient-radius")家電・スマホ・カメラ
      %a(href="#" class="btn-gradient-radius")おもちゃ・ホビー・グッズ
      -# レディースカテゴリー
.category
  .category__box
    .women
      .women__box
        .category-name
          %p レディース新着アイテム
          .motto
            = link_to do
              もっと見る
              = icon('fas', 'angle-right')
              -# 上の段の写真
        .women__up
          -# %ul.item-boxes
          -#   - @items.each do |item|
          -#     - if item.category_id == 1
          -#       = link_to item_path(item) do
          -#         %li.item-box
          -#           = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
          -#           %p.price 
          -#             ¥
          -#             =item.price 
          -#           %p.name 
          -#             =item.name
      -# メンズカテゴリー
  .category__box
    .women
      .women__box
        .category-name
          %p メンズ新着アイテム
          .motto
            = link_to do
              もっと見る
              = icon('fas', 'angle-right')
              -# 写真
        .women__up
          -# %ul.item-boxes
          -#   - @items.each do |item|
          -#     - if item.category_id == 2
          -#       = link_to item_path(item) do
          -#         %li.item-box
          -#           = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
          -#           %p.price 
          -#             ¥
          -#             =item.price 
          -#           %p.name 
          -#             =item.name
    -# カメラカテゴリー
  .category__box
    .women
      .women__box
        .category-name
          %p 家電・スマホ・カメラ新着アイテム
          .motto
            = link_to do
              もっと見る
              = icon('fas', 'angle-right')
              -# 上の段の写真
        .women__up
          -# %ul.item-boxes
          -#   - @items.each do |item|
          -#     - if item.category_id == 8
          -#       = link_to item_path(item) do
          -#         %li.item-box
          -#           = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
          -#           %p.price 
          -#             ¥
          -#             =item.price 
          -#           %p.name 
    -# おもちゃカテゴリー
  .category__box
    .women
      .women__box
        .category-name
          %p おもちゃ・ホビー・グッズ新着アイテム
          .motto
            = link_to do
              もっと見る
              = icon('fas', 'angle-right')
              -# 上の段の写真
        .women__up
          -# %ul.item-boxes
          -#   - @items.each do |item|
          -#     - if item.category_id == 6
          -#       = link_to item_path(item) do
          -#         %li.item-box
          -#           = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
          -#           %p.price 
          -#             ¥
          -#             =item.price 
          -#           %p.name 
          -#             =item.name
  
.bar
  %div 人気のカテゴリー
  .bar__btn
    %a(href="#" class="btn-gradient-radius")シャネル
    %a(href="#" class="btn-gradient-radius")ルイヴィトン
    %a(href="#" class="btn-gradient-radius")シュプリーム
    %a(href="#" class="btn-gradient-radius")ナイキ

  -# シャネルカテゴリー
.category
  .category__box
    .chanel
      .category-name
        %p シャネル新着アイテム
        .motto
          = link_to do
            もっと見る
            = icon('fas', 'angle-right')
            -# 上の段の写真
      -# .chanel__up
      -#   %ul.item-boxes
      -#     = link_to do
      -#       - @items.each do |item|
      -#         - if item.brand_id == 1
      -#           = link_to item_path(item) do
      -#             %li.item-box
      -#               = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
      -#               %p.price 
      -#                 ¥
      -#                 =item.price 
      -#               %p.name 
      -#                 =item.name
      -# ビトンカテゴリー
  .category__box
    .chanel
      .category-name
        %p ルイヴィトン新着アイテム
        .motto
          = link_to do
            もっと見る
            = icon('fas', 'angle-right')
            -# 上の段の写真
      -# .chanel__up
      -#   %ul.item-boxes
      -#     - @items.each do |item|
      -#       - if item.brand_id == 3
      -#         = link_to item_path(item) do
      -#           %li.item-box
      -#             = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
      -#             %p.price 
      -#               ¥
      -#               =item.price 
      -#             %p.name 
      -#               =item.name
    -# シュプリームカテゴリー
  .category__box
    .chanel
      .category-name
        %p シュプリーム新着アイテム
        .motto
          = link_to do
            もっと見る
            = icon('fas', 'angle-right')
            -# 上の段の写真
      -# .chanel__up
      -#   %ul.item-boxes
      -#     - @items.each do |item|
      -#       - if item.brand_id == 4
      -#         = link_to item_path(item) do
      -#           %li.item-box
      -#             = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
      -#             %p.price 
      -#               ¥
      -#               =item.price 
      -#             %p.name 
      -#               =item.name
    -# ナイキカテゴリー
  .category__box
    .chanel
      .category-name
        %p ナイキ新着アイテム
        .motto
          = link_to do
            もっと見る
            = icon('fas', 'angle-right')
            -# 上の段の写真
      .chanel__up
        %ul.item-boxes
          - @items.each do |item|
            - if item.brand_id == 2
              = link_to item_path(item) do
                %li.item-box
                  = image_tag item.images.first.image.to_s, height: '252px', width: '188px', class: 'box'
                  %p.price 
                    ¥
                    =item.price 
                  %p.name 
                    =item.name
%footer
  .images
    = image_tag 'toppage/free-image-1.jpg', height: '260px', width: '100%', class: 'bottom-photo'
  .about
    .about__box
      .about__box--text    
        メルカリについて
        .about__box--textIn
          %nav.my-parts
            %ul.ber
              %li
                %a{href: "#"} 会社概要（運営会社）
              %li
                %a{href: "#"} 採用情報
              %li
                %a{href: "#"} プレスリリース
              %li
                %a{href: "#"} 公式ブログ
              %li
                %a{href: "#"} メルカリロゴ利用ガイドライン
          .footer_logo
            = link_to "https://twitter.com/mercari_jp", class: "twi-icon" do
              = icon('fab', 'twitter')
          .footer_logo1
            = link_to "https://www.facebook.com/mercarijp", class: "face-icon" do
              = icon('fab', 'facebook-square')

      .about__box--text1   
        ヘルプ＆ガイド
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} メルカリガイド
              %li
                %a{href: "#"} らくらくメルカリ便
              %li
                %a{href: "#"} ゆうゆうメルカリ便
              %li
                %a{href: "#"} 大型メルカリ便
              %li
                %a{href: "#"} 車体取引ガイド
              %li
                %a{href: "#"} メルカリあんしん・あんぜん宣言！
              %li
                %a{href: "#"} 偽ブランド品撲滅への取り組み
              %li
                %a{href: "#"} メルカリボックス
      .about__box--text2
        プライバシーと利用規約
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} プライバシーポリシー
              %li
                %a{href: "#"} メルカリ利用規約
              %li
                %a{href: "#"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{href: "#"} コンプライアンスポリシー
      .about__box--text5
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 個人データの安全管理に係る基本方針
              %li
                %a{href: "#"} 特定商取引に関する表記
              %li
                %a{href: "#"} 資金決済法に基づく表示
              %li
                %a{href: "#"} 法令順守と犯罪抑止のために            
      .about__box--text3
        国
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 日本
              %li
                %a{href: "#"} United States

    .about__bottom
      .about__bottom--logo
        %a(href="#")
          = image_tag 'toppage/fmarket_logo_white.svg', height: '110px', width: '140px', class: 'logologo'
      .about__bottom--name
        %p.name
          @Fmarket
        -#  出品ボタン      
= link_to new_item_path, class: "logo-btn" do      
  .exhibition-btn
    .fixed_btn
      %span.btn-name
      出品
      %p.camera-icon
        = icon('fas', 'camera')