.itemRegistrationHeader
  =link_to('#', class:'imag') do
    = image_tag "fmarket_logo_red.svg", size: "185x49", class: "logo" 

.itemRegistrationMain
  .registrationHeader
    商品の情報を入力

  .registrationForm
    - hissu = "必須"
    = form_for @item do |f|
      .contents
        .formGroup
          %p.fontBolder 出品画像
          %span.hissuBtn #{hissu}
          %p 最大10枚までアップロードできます
          -# 画像UP数が１〜５の場合
          = f.fields_for :images do |image|
            .imageUp
              .previewField#pf1
              = image.label :image, {id: "images1"} do
                .imageUpField#iuf1
                  = image.file_field :image, multiple: true, name: "images[image][]", class: "imageUpField__hidden1", id: "top_image_form-0"
                  %p
                  ドラッグアンドドロップ
                  %br またはクリックしてファイルをアップロード
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:include_image).each do |message|
                  %li= message
                  
            -# 画像UP数が6〜10の場合
            .imageUp
              .previewField#pf2
              = image.label :image, {id: "images2"} do
                .imageUpField#iuf2
                  = image.file_field :image, multiple: true, name: "images[image][]", class: "imageUpField__hidden2", id: "bottom_image_form-0"
                  %p
                  ドラッグアンドドロップ
                  %br またはクリックしてファイルをアップロード

      .contents
        .formGroup
          %p.fontBolder 商品名
          %span.hissuBtn #{hissu}
          .form
            = f.text_field :name, placeholder: "商品名（必須40文字まで）", class: "form__name"
          - if @item.errors.any?
            %ul.errorMessages
              - @item.errors.full_messages_for(:name).each do |message|
                %li= message

        .formGroup
          %p.fontBolder 商品の説明
          %span.hissuBtn #{hissu}
          .form
            = f.text_area :body, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "form__info"
          - if @item.errors.any?
            %ul.errorMessages
              - @item.errors.full_messages_for(:body).each do |message|
                %li= message

      .contents.clearfix
        .leftContent
          .formGroup
            商品の詳細
        .rightContent
          .formGroup
            %p.fontBolder カテゴリー
            %span.hissuBtn #{hissu}
            .form
              = f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"}, {class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:category_id).each do |message|
                  %li= message

          .formGroup#brand
            %p.fontBolder ブランド
            %span.hissuBtn #{hissu}
            .form
              = f.collection_select :brand_id, Brand.all, :id, :name, {include_blank: "---"}, {class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:brand_id).each do |message|
                  %li= message

          .formGroup
            %p.fontBolder 商品の状態
            %span.hissuBtn #{hissu}
            .form
              = f.select :status,
                [["新品・未使用", "新品・未使用"], 
                ["未使用に近い", "未使用に近い"],
                ["目立った傷や汚れなし", "目立った傷や汚れなし"],
                ["やや傷や汚れあり", "やや傷や汚れあり"],
                ["傷や汚れあり", "傷や汚れあり"],
                ["全体的に状態が悪い", "全体的に状態が悪い"]], 
                {include_blank: "---"},{class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:status).each do |message|
                  %li= message

      .contents.clearfix
        .leftContent
          .formGroup
            配送について
            = link_to '#', class: 'link questionLink' do
              = icon('fas', 'question-circle', class: 'question')
        .rightContent
          .formGroup
            %p.fontBolder 配送料の負担
            %span.hissuBtn #{hissu}
            .form
              = f.select :deliver_fee,
                [["送料込み(出品者負担)", "送料込み(出品者負担)"], 
                ["着払い(購入者負担)", "着払い(購入者負担)"]], 
                {include_blank: "---"},{class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:deliver_fee).each do |message|
                  %li= message
                
          .formGroup#how_to_deliver
            %p.fontBolder 配送の方法
            %span.hissuBtn #{hissu}
            .form
              = f.select :how_to_deliver,
               [["未定","未定"],
                ["らくらくメルカリ便","らくらくメルカリ便"],
                ["ゆうメール","ゆうメール"],
                ["レターパック","レターパック"],
                ["普通郵便(定形、定形外)","普通郵便(定形、定形外)"],
                ["クロネコヤマト","クロネコヤマト"],
                ["ゆうパック","ゆうパック"],
                ["クリックポスト","クリックポスト"],
                ["ゆうパケット","ゆうパケット"]],
                {include_blank: "---"},{class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:how_to_deliver).each do |message|
                  %li= message

          .formGroup
            %p.fontBolder 発送元の地域
            %span.hissuBtn #{hissu}
            .form
              = f.collection_select :region, Prefecture.all, :id, :name, {include_blank: "---"}, {class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:region).each do |message|
                  %li= message

          .formGroup
            %p.fontBolder 発送までの日数
            %span.hissuBtn #{hissu}
            .form
              = f.select :delivery_date,
                [["1~2日で発送", "1~2日で発送"], 
                ["2~3日で発送", "2~3日で発送"], 
                ["4~7日で発送", "4~7日で発送"]], 
                {include_blank: "---"},{class: "form__select"}
              = f.label :image, class: "form__arrowIcon" do
                = icon("fas", "chevron-down", class: "image")
              - if @item.errors.any?
                %ul.errorMessages
                  - @item.errors.full_messages_for(:delivery_date).each do |message|
                    %li= message

      .contents.clearfix
        .leftContent
          .formGroup
            販売価格(300~9,999,999)
            = link_to '#', class: 'link questionLink' do
              = icon('fas', 'question-circle', class: 'question')
        .rightContent
          .formGroup.clearfix
            .leftSmallForm
              %p.fontBolder 価格
              %span.hissuBtn #{hissu}
            .rightSmallForm
              ¥
              = f.text_field :price, placeholder: "例) 300", class: "rightSmallForm__price"
            - if @item.errors.any?
              %ul.errorMessages
                - @item.errors.full_messages_for(:price).each do |message|
                  %li= message

          .formGroup.commission.clearfix
            .leftSmallForm
              %p.leftSmallForm__commissionLabel 販売手数料(10%)
            .rightSmallForm
              %p.rightSmallForm__commissionPrice -
          .formGroup.clearfix
            .leftSmallForm
              %p.leftSmallForm__profitLabel 販売利益
            .rightSmallForm
              %p.rightSmallForm__profitPrice -
      .contents
        .exhibition
          %p 
            = link_to "禁止されている出品", "#"
            、
            = link_to "行為", "#"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", "#"
            は犯罪であり処罰される可能性があります。
          %p 
            また、出品をもちまして
            = link_to "加盟店規約","#"
            に同意したことになります。
          = f.submit "出品する", class: "exhibition__btn"
          = link_to "もどる", :back ,class: "exhibition__back"

.itemRegistrationFooter
  .menu
    =link_to('#', class:'privacybtn') do
      プライバシーポリシー
    =link_to('#', class:'rulebtn') do
      メルカリ利用規約
    =link_to('#', class:'transactionbtn') do
      特定商取引に関する表記
  =link_to('#', class:'imag2') do
    = image_tag "logo_gray.svg", size: "80x65", class: "logo2"  
  %p © Mercari, Inc.