%header
  = render 'shared/header'

.confirmationBody
  .footer1
  .main1
    .main1__product
      = @item.name
    .main1__Introduction
      - unless user_signed_in?
        『
        = @item.name
        』は、✖︎回の取引実績を持つ
        =link_to('#', class:'link') do
          %span 
            = @user.nickname
        さんから出品されました。
        =link_to('#', class:'link') do
          %span
            =@brand.name
        =link_to('#', class:'link') do
          %span 
            (
            = @category.name
            )
        の商品で、
        =@prefecture.name
        から
        = @item.delivery_date
        されます。
    .main1__menu
      .main1__menu__picbig
        =  image_tag @item.images.first.image.to_s, size: "300x300", class: "picmain" 
        .picsmall
          -@images.each do |image| 
            =  image_tag image.image.to_s, size: "60x60", class: "picsmall1","data-image_id": image.id
                                    
      .main1__menu__data
        %table{border: "1",class:"box"}
          %tr
            %th 出品者
            %td 
              =link_to('#', class:'link1') do
                = @user.nickname
              %br/
              %i1.fas.fa-laugh-beam
              %span 0
              %i2.fas.fa-meh
              %span 0
              %i3.fas.fa-frown
              %span 0
          %tr
            %th カテゴリー
            %td 
              =link_to(category_path(@category), class:'link1') do
                = @category.name
                %br/
              =link_to('#', class:'link1') do
                %i.fas.fa-chevron-right
                カテゴリー
                %br/
              =link_to('#', class:'link1') do
                %i.fas.fa-chevron-right
                カテゴリー 
          %tr
            %th ブランド
            %td 
              =link_to('#', class:'link1') do
                =@brand.name
          %tr
            %th 商品状態
            %td
              = @item.status
          %tr
            %th 配送料負担
            %td
              =@item.deliver_fee
          %tr
            %th 配送方法
            %td 
              =@item.how_to_deliver
          %tr
            %th 配送元の地域
            %td 
              =@prefecture.name
          %tr
            %th 配送日の目安
            %td 
              = @item.delivery_date
    .main1__price
      %p 
        ¥ 
        =@item.price  
      %p1 (税込) 
      - if @item.deliver_fee == "送料込み(出品者負担)"
        %p2 送料込み
      - else
        %p2 送料別
  
    - if user_signed_in?  
      - if @item.sale_status == "on_sale" && @item.user_id != current_user.id
        =link_to(item_product_confirmation_index_path(@item), class:'link2') do
          .main1__btn.main1__btn--red
            購入画面に進む

      - elsif @item.user_id == current_user.id
        .main1__btn.main1__btn--grey
          出品者につき購入不可
      - else
        .main1__btn.main1__btn--grey
          売り切れました
    - else
      =link_to(item_product_confirmation_index_path(@item), class:'link2') do
        .main1__btn.main1__btn--red
          購入画面に進む

    .main1__alrt
    - if @item.how_to_deliver == 2
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .main1__text
      = simple_format(@item.body)
    .main1__botom
      =link_to('#', class:'link2') do
        .like
          %i.far.fa-heart
          いいね! 0
      =link_to('#', class:'link2') do
        .report
          %i.far.fa-flag
          不適切な商品の報告
      =link_to('#', class:'link3') do
        .anzen
        %i.fas.fa-lock
          あんしん・あんぜんへの取り組み
  .line
    =link_to('#', class:'link4') do
      %i.fas.fa-chevron-left
      カテゴリー
    =link_to('#', class:'link5') do
      カテゴリー 
      %i.fas.fa-chevron-right
  .main2
    .main2__box
      = link_to "https://www.facebook.com/", class: "iconbtn1" do
        = icon('fab', 'facebook-square')
      = link_to "https://twitter.com/", class: "iconbtn2" do
        = icon('fab', 'twitter')
      = link_to "https://www.pinterest.jp/", class: "iconbtn3" do
        = icon('fab', 'pinterest')
  .other
    =link_to('#', class:'link6') do
      %p3
      = @user.nickname
      さんのその他の商品
    .other__list
      .itemsBox
        -@user_items.each do |user_item| 
          -if user_item.id != @item.id 
            .itemSingle1.itemSingle
              = link_to item_path(user_item.id), class: "linkstyle" do
                .itemSinglePhoto
                  = image_tag user_item.images.first.image.to_s, class: 'itemPhoto'
                .itemSingleBody
                  %p5.title
                    =user_item.name
                  %p6.price2
                    ¥
                    =user_item.price

      
  .itemLine              
  .otherCategory
    =link_to('#', class:'link6') do
      %p3 
        =@brand.name 
        その他の商品
    .otherCategory__list
      .itemsBox
        -@brand_items.each do |brand_item| 
          -if brand_item.id != @item.id

            .itemSingle1.itemSingle
              = link_to item_path(brand_item.id), class: "linkstyle" do
                .itemSinglePhoto
                  = image_tag brand_item.images.first.image.to_s, class: 'itemPhoto'
                .itemSingleBody
                  %p5.title
                    =brand_item.name
                  %p6.price2
                    ¥
                    =brand_item.price
  .botom
    .botom__menu
      =link_to('#', class:'link7') do
        メルカリ 
      %i.fas.fa-chevron-right
        %p4
          = @item.name

%footer
  = render 'shared/footer'