%html
  %header
    .topheader
      .main
        .main__top
          %a(href="#")
            = image_tag 'toppage/fmarket_logo_red.svg', height: '120px', width: '165px', class: 'free-logo'
          %label
            .main__top--search
              %input.card-nomber-form{placeholder:"何かお探しですか？"}
              .icon
                %a(href="#")
                  %i.fa.fa-search
        .main__bottom
          %ul 
            %li.num1
              = link_to do
                = icon('fas', 'bars')
                カテゴリーから探す
            %li.num2 
              = link_to do
                = icon('fas', 'tag')
                ブランドから探す
            %li.num3 
              = link_to do
                = icon('far', 'heart')
                いいね！ 一覧
            %li.num4 
              = link_to do
                = icon('far', 'bell')
                お知らせ
            %li.num5 
              = link_to do
                = icon('fas', 'check')
                やることリスト
            %li.num6 
              = link_to do
                = icon('far', 'circle')
                マイページ    


.confirmationBody
  .footer1
  .main1
    .main1__product
      = @item.name
    .main1__Introduction
    - if user_signed_in?
      『
      = @item.name
      』は、✖︎回の取引実績を持つ
      =link_to('#', class:'link') do
        %span 
          = @user.nickname
      さんから出品されました。
      =link_to('#', class:'link') do
        %span
          =@brand.name
      =link_to('#', class:'link') do
        %span 
          (
          = @category.name
          )
      の商品で、
      =@prefecture.name
      から
      = @item.delivery_date
      されます。
    .main1__menu
      .main1__menu__picbig
        =  image_tag @item.images.first.image.to_s, size: "300x300", class: "picmain" 
        .picsmall
          -@images.each do |image| 
            =  image_tag image.image.to_s, size: "60x60", class: "picsmall1","data-image_id": image.id
                                    
      .main1__menu__data
        %table{border: "1",class:"box"}
          %tr
            %th 出品者
            %td 
              =link_to('#', class:'link1') do
                = @user.nickname
              %br/
              %i1.fas.fa-laugh-beam
              %span 0
              %i2.fas.fa-meh
              %span 0
              %i3.fas.fa-frown
              %span 0
          %tr
            %th カテゴリー
            %td 
              =link_to('#', class:'link1') do
                = @category.name
                %br/
              =link_to('#', class:'link1') do
                %i.fas.fa-chevron-right
                カテゴリー
                %br/
              =link_to('#', class:'link1') do
                %i.fas.fa-chevron-right
                カテゴリー 
          %tr
            %th ブランド
            %td 
              =link_to('#', class:'link1') do
                =@brand.name
          %tr
            %th 商品状態
            %td
              = @item.status
          %tr
            %th 配送料負担
            %td
              =@item.deliver_fee
          %tr
            %th 配送方法
            %td 
              =@item.how_to_deliver
          %tr
            %th 配送元の地域
            %td 
              =@prefecture.name
          %tr
            %th 配送日の目安
            %td 
              = @item.delivery_date
    .main1__price
      %p 
        ¥ 
        =@item.price  
      %p1 (税込) 
      %p2 送料込み
    =link_to('#', class:'link2') do
      .main1__btn
        購入画面に進む
    .main1__alrt
    - if @item.how_to_deliver == 2
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .main1__text
      = simple_format(@item.body)
    .main1__botom
      =link_to('#', class:'link2') do
        .like
          %i.far.fa-heart
          いいね! 0
      =link_to('#', class:'link2') do
        .report
          %i.far.fa-flag
          不適切な商品の報告
      =link_to('#', class:'link3') do
        .anzen
        %i.fas.fa-lock
          あんしん・あんぜんへの取り組み
  .line
    =link_to('#', class:'link4') do
      %i.fas.fa-chevron-left
      カテゴリー
    =link_to('#', class:'link5') do
      カテゴリー 
      %i.fas.fa-chevron-right
  .main2
    .main2__box
      = link_to "https://www.facebook.com/", class: "iconbtn1" do
        = icon('fab', 'facebook-square')
      = link_to "https://twitter.com/", class: "iconbtn2" do
        = icon('fab', 'twitter')
      = link_to "https://www.pinterest.jp/", class: "iconbtn3" do
        = icon('fab', 'pinterest')
  .other
    =link_to('#', class:'link6') do
      %p3
      = @user.nickname
      さんのその他の商品
    .other__list
      .itemsBox
        -@user_items.each do |user_item| 
          -if user_item.id != @item.id 
            .itemSingle1.itemSingle
              = link_to item_path(user_item.id), class: "linkstyle" do
                .itemSinglePhoto
                  = image_tag user_item.images.first.image.to_s, class: 'itemPhoto'
                .itemSingleBody
                  %p5.title
                    =user_item.name
                  %p6.price2
                    ¥
                    =user_item.price

      
  .itemLine              
  .otherCategory
    =link_to('#', class:'link6') do
      %p3 
        =@brand.name 
        その他の商品
    .otherCategory__list
      .itemsBox
        -@brand_items.each do |brand_item| 
          -if brand_item.id != @item.id

            .itemSingle1.itemSingle
              = link_to item_path(brand_item.id), class: "linkstyle" do
                .itemSinglePhoto
                  = image_tag brand_item.images.first.image.to_s, class: 'itemPhoto'
                .itemSingleBody
                  %p5.title
                    =brand_item.name
                  %p6.price2
                    ¥
                    =brand_item.price
  .botom
    .botom__menu
      =link_to('#', class:'link7') do
        メルカリ 
      %i.fas.fa-chevron-right
        %p4
          = @item.name

%footer
  .images
    = image_tag 'toppage/free-image-1.jpg', height: '260px', width: '100%', class: 'bottom-photo'
  .about
    .about__box
      .about__box--text    
        メルカリについて
        .about__box--textIn
          %nav.my-parts
            %ul.ber
              %li
                %a{href: "#"} 会社概要（運営会社）
              %li
                %a{href: "#"} 採用情報
              %li
                %a{href: "#"} プレスリリース
              %li
                %a{href: "#"} 公式ブログ
              %li
                %a{href: "#"} メルカリロゴ利用ガイドライン
          .footer_logo
            = link_to "https://twitter.com/mercari_jp", class: "twi-icon" do
              = icon('fab', 'twitter')
          .footer_logo1
            = link_to "https://www.facebook.com/mercarijp", class: "face-icon" do
              = icon('fab', 'facebook-square')

      .about__box--text1   
        ヘルプ＆ガイド
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} メルカリガイド
              %li
                %a{href: "#"} らくらくメルカリ便
              %li
                %a{href: "#"} ゆうゆうメルカリ便
              %li
                %a{href: "#"} 大型メルカリ便
              %li
                %a{href: "#"} 車体取引ガイド
              %li
                %a{href: "#"} メルカリあんしん・あんぜん宣言！
              %li
                %a{href: "#"} 偽ブランド品撲滅への取り組み
              %li
                %a{href: "#"} メルカリボックス
      .about__box--text2
        プライバシーと利用規約
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} プライバシーポリシー
              %li
                %a{href: "#"} メルカリ利用規約
              %li
                %a{href: "#"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{href: "#"} コンプライアンスポリシー
      .about__box--text5
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 個人データの安全管理に係る基本方針
              %li
                %a{href: "#"} 特定商取引に関する表記
              %li
                %a{href: "#"} 資金決済法に基づく表示
              %li
                %a{href: "#"} 法令順守と犯罪抑止のために            
      .about__box--text3
        国
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 日本
              %li
                %a{href: "#"} United States

    .about__bottom
      .about__bottom--logo
        %a(href="#")
          = image_tag 'toppage/fmarket_logo_white.svg', height: '110px', width: '140px', class: 'logologo'
      .about__bottom--name
        %p.name
          @Fmarket