%header
  .topheader
    .main
      .main__top
        %a(href= root_path)
          = image_tag 'toppage/fmarket_logo_red.svg', height: '120px', width: '165px', class: 'free-logo'
        %label
          .main__top--search
            %input.card-nomber-form{placeholder:"何かお探しですか？"}
            .icon
              %a(href="#")
                %i.fa.fa-search
      .main__bottom
        %ul 
          %li.num1
            = link_to category_index_path do
              = icon('fas', 'bars')
              カテゴリーから探す
          %li.num2 
            = link_to do
              = icon('fas', 'tag')
              ブランドから探す
          %li.num3 
            = link_to do
              = icon('far', 'heart')
              いいね！ 一覧
          %li.num4 
            = link_to do
              = icon('far', 'bell')
              お知らせ
          %li.num5 
            = link_to do
              = icon('fas', 'check')
              やることリスト
          %li.num6 
            = link_to my_page_index_path do
              = icon('far', 'circle')
              マイページ
%nav.bread
  %ul.bread__list

.cardRegisterMain
  = render 'shared/side_bar'
  .mainContainer
    .cardRegisterTitle
      クレジットカード情報入力
    .cardRegisterForm
      = form_for "#" do |f|
        .cardInfo
          - hissuTag = "必須"
          = form_for "#" do |f|
            .formCardNumber
              %p.titleBold カード番号
              %span.hissuTag #{hissuTag}
              = f.text_field :text, placeholder: "半角数字のみ", class: "cardNumber formareaBig"
              = image_tag 'cardimages.png', class: 'cardImages'
            .formExpirationDate.topmargin
              %p.titleBold 有効期限
              %span.hissuTag #{hissuTag}
              .flex
                %select.select-default{name: "month", class: "month formareaMiddle"}
                  %option{value: "01"} 01
                  %option{value: "02"} 02
                  %option{value: "03"} 03
                  %option{value: "04"} 04
                  %option{value: "05"} 05
                  %option{value: "06"} 06
                  %option{value: "07"} 07
                  %option{value: "08"} 08
                  %option{value: "09"} 09
                  %option{value: "10"} 10
                  %option{value: "11"} 11
                  %option{value: "12"} 12
                %p.date 月
                %select.select-default{name: "year", class: "year formareaMiddle"}
                  %option{value: "1"} 19
                  %option{value: "2"} 20
                  %option{value: "3"} 21
                  %option{value: "4"} 22
                  %option{value: "5"} 23
                  %option{value: "6"} 24
                  %option{value: "7"} 25
                  %option{value: "8"} 26
                  %option{value: "9"} 27
                  %option{value: "10"} 28
                  %option{value: "11"} 29
                %p.date 年
            .formSecurityCode.topmargin
              %p.titleBold セキュリティコード
              %span.hissuTag #{hissuTag}
              = f.text_field :text, placeholder: "カード背面4桁もしくは3桁の番号", class: "securityNumber formareaBig"
              = link_to '#', class: 'link questionLink' do
                = icon('fas', 'question-circle', class: 'question')
                カード裏面の番号とは？
              = f.submit "追加する", class: "submitbtn"

%footer
  .images
    = image_tag 'toppage/free-image-1.jpg', height: '260px', width: '100%', class: 'bottom-photo'
  .about
    .about__box
      .about__box--text    
        メルカリについて
        .about__box--textIn
          %nav.my-parts
            %ul.ber
              %li
                %a{href: "#"} 会社概要（運営会社）
              %li
                %a{href: "#"} 採用情報
              %li
                %a{href: "#"} プレスリリース
              %li
                %a{href: "#"} 公式ブログ
              %li
                %a{href: "#"} メルカリロゴ利用ガイドライン
          .footer_logo
            = link_to "https://twitter.com/mercari_jp", class: "twi-icon" do
              = icon('fab', 'twitter')
          .footer_logo1
            = link_to "https://www.facebook.com/mercarijp", class: "face-icon" do
              = icon('fab', 'facebook-square')

      .about__box--text1   
        ヘルプ＆ガイド
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} メルカリガイド
              %li
                %a{href: "#"} らくらくメルカリ便
              %li
                %a{href: "#"} ゆうゆうメルカリ便
              %li
                %a{href: "#"} 大型メルカリ便
              %li
                %a{href: "#"} 車体取引ガイド
              %li
                %a{href: "#"} メルカリあんしん・あんぜん宣言！
              %li
                %a{href: "#"} 偽ブランド品撲滅への取り組み
              %li
                %a{href: "#"} メルカリボックス
      .about__box--text2
        プライバシーと利用規約
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} プライバシーポリシー
              %li
                %a{href: "#"} メルカリ利用規約
              %li
                %a{href: "#"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{href: "#"} コンプライアンスポリシー
      .about__box--text5
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 個人データの安全管理に係る基本方針
              %li
                %a{href: "#"} 特定商取引に関する表記
              %li
                %a{href: "#"} 資金決済法に基づく表示
              %li
                %a{href: "#"} 法令順守と犯罪抑止のために            
      .about__box--text3
        国
        .about__box--textIn
          %nav.my-parts
            %ul
              %li
                %a{href: "#"} 日本
              %li
                %a{href: "#"} United States

    .about__bottom
      .about__bottom--logo
        %a(href="#")
          = image_tag 'toppage/fmarket_logo_white.svg', height: '110px', width: '140px', class: 'logologo'
      .about__bottom--name
        %p.name
          @Fmarket